.App {
    background-color: rgb(171, 105, 105);
    margin: 0px;
    overflow: hidden;
}

.head {
    display: flex;
    width: 100vw;
    justify-content: center;
    padding-top: 10px;
    color: white;
}